%nav.topbar
  
  %a.topbar-logo.padding-horizontal-s{:href => borrow_start_path} leihs

  %ul.topbar-navigation

    %li#topbar-search.topbar-item.topbar-search.separated-left{:class => current_page?("search") ? "active" : nil}
      = render :partial => 'topbar_search'
    
    %li.topbar-item.separated-left{:class => true ? "active" : nil}
      %a.topbar-item-inner= _("Borrow")

    %li.topbar-item.separated-left
      %a.topbar-item-inner
        %span.badge 1
        = _("Collection")

    %li.topbar-item.separated-left
      %a.topbar-item-inner
        %span.badge 5
        = _("Returns")

    %li.topbar-item.separated-left{:class => false ? "active" : nil}
      %a.topbar-item-inner{:href => backend_path}= _("Inventory Pools")

    %li.topbar-item.separated-left{:class => false ? "active" : nil}
      %a.topbar-item-inner{:href => backend_path}= _("Manage")

    %li.topbar-item.dropdown-holder.separated-left{:class => current_page?("current_user") ? "active" : nil}
      %a.topbar-item-inner.max-width-s-alt.text-ellipsis
        = current_user
        %i.arrow.down

      %ul.dropdown.right.straight-top
      
        %li
          %a.dropdown-item{:href => logout_path}
            .icon-signout
            = _("Logout")

:coffeescript
  
  jQuery -> new App.TopBarSearchItem
    el: $("#topbar-search")